{{ banner }}
package {{ package }};

import com.fasterxml.jackson.core.type.TypeReference;

import {{ package + ".types" }}.*;

public class Rpc {

  public interface Transport {
    public void call(String method, Object... params) throws RpcException;
    public <T> T callForResult(TypeReference<T> resultType, String method, Object... params) throws RpcException;
  }

  public final Transport transport;

  public Rpc(Transport transport) {
    this.transport = transport;
  }

{% for method in methods %}
  {{- generate_method(method)}}
{% endfor -%}
}
